name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
          submodules: 'true'
          fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build UI
      run:  cd ui && yarn install --ignore-engines && yarn build
#    - name: Build the Docker image
#      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
